#search-container{
    margin-top:5%;
    display:flex;
    justify-content: center;
}
#search-bar{
    width:50%;
    height:5vh
}
#search-btn{
    width:10%;
    height:5vh;
}
.card{
    background-color: black !important;
}
.card-img{
    height:40vh;
    background-image: url('Pictures/NoFace.webp');
    object-fit: cover;
}
#card-container{
    width:80%
}
#select-container{
    width:20%
}
#open-modal-btn{
    height:4vh
}
footer{
    margin-top:10vh;
    border-top:1px solid black;
    height:20vh
}
